body {
    background-color: #16202a;
    font-family: 'Ubuntu Mono', monospace;
}

nav .brand-logo {
    color: #ffcdd1 !important;
    font-size: 26px;
    font-weight: 900;
    padding-top: 11px;
}

nav .sidenav-trigger i {
    padding-top: 9px;
}

.add-padding {
    padding-bottom: 25px;
}

.card .card-action:last-child {
    border-radius: 0 0 12px 12px;
}

.big-icon {
    font-size: 65px;
}

.button-margin {
    margin-left: 18px;
}

.card {
    background-color: #11181f;
    border-radius: 12px;
}

.card-action {
    border-radius: 12px;
}

.carousel {
    margin-bottom: 2rem;
    margin-top: 0rem;
}

.carousel-item {
    width: 50vw;
}

.catergory-title {
    font-weight: 600;
    background: -webkit-linear-gradient(#f50555, #f42d40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collapsible-body {
    border-bottom: 0px solid #ddd;
    box-sizing: border-box;
    display: none;
    padding: 2rem;
    -webkit-box-sizing: border-box;
}

.collapsible-header {
    border-width: 0px;
    cursor: pointer;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    font-size: 20px;
    line-height: 1.5;
    padding: 1rem;
    padding-top: 22px;
}

.collapsible-header i {
    color: #f50555;
    display: inline-block;
    font-size: 36px;
    margin-right: 20px;
    margin-right: 2rem;
    text-align: center;
    width: 2rem;
}

.color-nav {
    background: linear-gradient(to bottom, #f50555, #f42d40);
    height: 90px;
}

.dark-text {
    color: #16202a !important;
}

.divider {
    background-color: #ffffff2c;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.download-button {
    border-radius: 12px;
    color: #ffcdd1;
    font-size: 20px;
    font-weight: 800;
    margin-top: 1rem;
}

.drawer-img {
    width: 300px;
}

.features-card {
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.features-card-icon {
    padding-left: 20px;
    padding-top: 12px;
}

.features-section {
    margin-top: 2rem;
}

.footer-cr-text {
    margin-bottom: 8px;
    margin-top: -15px;
}

.footer-name-text {
    font-size: 18px;
    font-weight: 600;
}

.gradient-nav {
    background: linear-gradient(to bottom, #f50555, #f42d40);
}

.gradient-text {
    color: linear-gradient(to right, #f50555, #f42d40);
}

.hamburger-menu {
    color: #ffcdd1;
    padding-top: 11px;
}

.hero-img img {
    width: 90%;
}

.hero-img p {
    font-size: 1.3rem;
}

.hero-text {
    color: whitesmoke;
    margin-top: 10rem;
    text-align: center;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.hero-text h5 {
    margin-bottom: 1.5rem;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.landing {
    background: #16202a;
    margin-top: 2.5rem;
    padding: 3rem;
}

.light-text {
    color: #ffcdd1 !important;
}

.main-bg {
    background-color: #16202a !important;
}

.main-bg2 {
    background-color: #11181f !important;
}

.medium-font {
    font-size: 20px;
}

.nav-footer {
    bottom: 60px;
    position: absolute;
    right: 35px;
}

.nav-options {
    color: #ffcdd1;
    font-size: 20px;
    font-weight: 600;
}

.padding-top {
    padding-top: 11px;
}

.primary-color {
    color: #f50555 !important;
}

.primary-color-bg {
    background-color: #f50555;
}

.profile-img {
    border-radius: 50%;
    height: 100px;
    margin-bottom: 10px;
    width: 100px;
}

.small-font {
    font-size: 16px;
}

.social-buttons-row {
    padding-top: 12px;
}

.sponsor-img {
    height: 90px;
    margin-bottom: 0px;
    width: 180px;
}

.ss-carousel {
    height: 50vh;
    margin-top: -6rem;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .color-nav {
        background: linear-gradient(to bottom, #f50555, #f42d40);
        height: 70px;
    }
    .hero-img {
        text-align: center;
    }
    .hero-text {
        margin-top: 0;
    }
    .hero-text h1 {
        font-size: 2.5rem;
    }
    .hero-text h5 {
        font-size: 1.5rem;
    }
    .landing {
        margin-top: 0rem;
        padding: 2rem;
    }
    .ss-carousel {
        margin-top: -7rem;
    }
    nav .brand-logo {
        padding-top: 9px;
    }
}